@import "node_modules/bootstrap/scss/bootstrap";
@import "~reset-css";

body, html {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.app {
  &__outer {}

  &__container {
    padding: 0px 90px 40px 90px;
    border-radius: 10px;
  }
  &__title {
    margin: 35px 0 40px 0;
    font-size: 23px;
    font-weight: 700;
  }
}


.svgs {
  &__delete {
    cursor: pointer;
    fill: lightcoral;
    transition: fill .1s ease;
    &:hover {
      fill: red;
    }
  }
}